<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="edit.css" />
  </head>
  <body>
    <div class="product-card">
      <img src="image/cabbage.png" alt="" class="card_image" />
      <div class="product_text">
        <h3>Product Name</h3>
        <form id="productForm">
          <input type="text" class="productName" name="productName" required />
        </form>
        <div class="buttons">
          <a href="" class="edit">Edit price</a>
        </div>
      </div>
    </div>
  </body>
</html>
